header.header
    .container
        .header__content.header-burger
            .header__burger.burger-icon
                img(src='img/header/menu.png')
            .header__logo
                img(src='img/header/logo.png')
            .header__menu.menu-open
                .header__list
                    each menu in menuList
                        .header__item= menu
                .header__social
                    span.open
                        img(src='img/header/hover.svg')
                    span
                        img(src='img/header/inst.svg')
