.main-page__title ПРЕИМУЩЕСТВА G-SYNC
.main-page__text Каждый монитор с технологией G-SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G-SYNC.
+list(cardList)(class='test-list')
