@import "../variables";

.card {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px 0;

  &__item {
    width: 100%;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    .img-last {
      display: none;
    }

    &:hover .img-last {
      display: flex;
    }

    &:hover .img {
      display: none;
    }
  }

  &__title {
    margin-top: 28px;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #77B900;
  }

  &__subtitle {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.25px;
    color: $white;
  }

  &__text {
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #E1E1E1;
  }
}

@media (min-width: 576px) {
  .card {
    margin: 60px 0 50px 0;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;

    &__item {
      max-width: 255px;
      width: 100%;
    }
  }
}
