#helloModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			div.close(type='button' data-dismiss='modal' aria-label='Close')
			.modal-body
				form.modal-form
					.modal-title ПРЕИМУЩЕСТВА G-SYNC
					input.modal-input.name(placeholder="Имя")
					input.modal-input.email(placeholder="Mail")
			.modal-footer
				button.btn.btn-buy(type='button' data-dismiss='modal') КУПИТЬ
