@import "../variables";

.header {
  position: relative;
  background: $black;
  color: $white;

  &__content {
    height: 56px;
    display: flex;
    align-items: center;
  }

  &__burger {
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .active {
    display: flex;
  }

  &__menu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top: 55px;
    left: 0;
    height: 91.5vh;
    width: 100%;
    background: $black;
    padding: 16px 0 43px 0;
  }

  &__social {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__twitter {
    background: url("../img/header/tw.png") no-repeat;
    min-width: 48px;
    min-height: 48px;
    transition: 0.2s;

    &:hover {
      background: url("../img/header/hover.svg");
    }
  }

  &__instagram {
    background: url("../img/header/inst.svg") no-repeat;
    min-width: 48px;
    min-height: 48px;
    transition: 0.2s;

    &:hover {
      background: url("../img/header/inst-hover.png");
    }
  }

  &__list {
    text-align: center;
  }

  &__item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: $white;
    padding: 14px 0;
    cursor: pointer;
  }

  &__logo {
    height: 34px;
    width: 45px;
  }
}

@media (min-width: 768px) {
  .header {

    &__content {
      height: 90px;
    }

    .active {
      display: flex;
    }

    &__menu {
      position: static;
      display: flex;
      flex-direction: row;
      top: 0;
      height: 100%;
      padding: 0 0 0 14px;

    }

    &__list {
      display: flex;
    }

    &__item {
      padding: 31px 24px;
    }

    &__social {
      display: flex;
      align-items: center;
    }

    &__burger {
      display: none;
    }

    &__logo {
      height: 60px;
      width: 81px;
    }
  }
}
